In [2]:
import numpy as np
import pandas as pd

## 5.
### Write a pandas program to create a dataframe(6 records) which has the fields id,name,age,degree,cgpa
#### a)insert a new column ‘class’ into the dataframe and populate values
#### b)Find out total no.of columns in the dataframe
#### c)select top 3 rows ,last 4 rows
#### d)delete all rows which have null values
#### e)drop ‘id’ column
#### f)select name,cgpa from 2 to 5 records
#### g)fill null values in the age column with mean value

In [24]:
d = {'id':[1,2,3,4,5,6] , 
     'name':['Shabeeb','Aisha','Aishwarya','Akhina','Amrita','Anu'], 
     'age':[np.nan,20,18,21,24,23], 
     'degree':['BSc. CS','BCA','BSc. CS','BSc. CS','BSc. Physics','BCA'],
     'cgpa':[6.6,np.nan,7.5,8.9,8.5,np.nan]
    }
df = pd.DataFrame(d)
print(df)
#a
cls = ['MCA 1','MCA 2','MCA 3','MCA 3','MCA 1','MCA 2']
df['class'] = cls
print("\n",df)
#b
df1 = df.head(3)
print("\n top 3 rows:\n",df1)
df2 = df.tail(4)
print("\n last 4 rows:\n",df2)
#c
df3 = df.dropna()
print("\n dataframe after deleting null value rows: \n",df3)
#d
del df3['id']
print("\n df after removing id column:\n",df3)
#f
print("\n",df.iloc[[2,3,4,5],[1,4]])
#g
df['age'].fillna(value=df['age'].mean(), inplace=True)
print("\n df after replacing null value in age with mean:\n",df)

   id       name   age        degree  cgpa
0   1    Shabeeb   NaN       BSc. CS   6.6
1   2      Aisha  20.0           BCA   NaN
2   3  Aishwarya  18.0       BSc. CS   7.5
3   4     Akhina  21.0       BSc. CS   8.9
4   5     Amrita  24.0  BSc. Physics   8.5
5   6        Anu  23.0           BCA   NaN

    id       name   age        degree  cgpa  class
0   1    Shabeeb   NaN       BSc. CS   6.6  MCA 1
1   2      Aisha  20.0           BCA   NaN  MCA 2
2   3  Aishwarya  18.0       BSc. CS   7.5  MCA 3
3   4     Akhina  21.0       BSc. CS   8.9  MCA 3
4   5     Amrita  24.0  BSc. Physics   8.5  MCA 1
5   6        Anu  23.0           BCA   NaN  MCA 2

 top 3 rows:
    id       name   age   degree  cgpa  class
0   1    Shabeeb   NaN  BSc. CS   6.6  MCA 1
1   2      Aisha  20.0      BCA   NaN  MCA 2
2   3  Aishwarya  18.0  BSc. CS   7.5  MCA 3

 last 4 rows:
    id       name   age        degree  cgpa  class
2   3  Aishwarya  18.0       BSc. CS   7.5  MCA 3
3   4     Akhina  21.0       BSc. CS   8.9  MCA 3
4   5     Amrita  24.0  BSc. Physics   8.5  MCA 1
5   6        Anu  23.0           BCA   NaN  MCA 2

 dataframe after deleting null value rows:
    id       name   age        degree  cgpa  class
2   3  Aishwarya  18.0       BSc. CS   7.5  MCA 3
3   4     Akhina  21.0       BSc. CS   8.9  MCA 3
4   5     Amrita  24.0  BSc. Physics   8.5  MCA 1

 df after removing id column:
         name   age        degree  cgpa  class
2  Aishwarya  18.0       BSc. CS   7.5  MCA 3
3     Akhina  21.0       BSc. CS   8.9  MCA 3
4     Amrita  24.0  BSc. Physics   8.5  MCA 1

         name  cgpa
2  Aishwarya   7.5
3     Akhina   8.9
4     Amrita   8.5
5        Anu   NaN

 df after replacing null value in age with mean:
    id       name   age        degree  cgpa  class
0   1    Shabeeb  21.2       BSc. CS   6.6  MCA 1
1   2      Aisha  20.0           BCA   NaN  MCA 2
2   3  Aishwarya  18.0       BSc. CS   7.5  MCA 3
3   4     Akhina  21.0       BSc. CS   8.9  MCA 3
4   5     Amrita  24.0  BSc. Physics   8.5  MCA 1
5   6        Anu  23.0           BCA   NaN  MCA 2

## 6.
#### a)Load iris dataset into a dataframe
#### b)Take its descriptive statistics
#### c)delete all rows which have null values
#### d)select the Species classes,Count the no.of datas in each class
#### e)Map the species classes into 1,2 and 3
#### f)Print the standard deviation and mean of petal length
#### g)select all columns except species

In [38]:
#a
i = pd.read_csv('iris.csv')
dp = pd.DataFrame(i)
print(dp)
#b
print(dp.info())
#c
dp1 = dp.dropna()
print(dp1)
#d

#e
dp1['species'] = dp1['species'].map({'setosa':1,'versico':2,'virginica':3})
print(dp1)
#f
print("\n standard deviation of petal length:\n",dp1['petal_length'].std())
print("\n mean of petal length:\n",dp1['petal_length'].mean())
#g

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
None
     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

AttributeError: 'Series' object has no attribute 'value_count'